@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Crimson Pro', serif;
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }
}
